<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button default-href="tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>{{student.name}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge="">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="success" (click)="update(student.id,student)">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="warning">
                <ion-icon name="close"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="delete(student.id)">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-card text-center>
        <ion-card-header>
            <ion-input type="text" [(ngModel)]="student.name" required></ion-input>
            <ion-input type="text" [(ngModel)]="student.controlnumber" required></ion-input>
        </ion-card-header>
        <ion-card-content>
            <ion-label position="floating">CURP</ion-label>
            <ion-input type="text" [(ngModel)]="student.curp" required></ion-input>
            <ion-label position="floating">EDAD</ion-label>
            <ion-input type="text" [(ngModel)]="student.age" required></ion-input>


            <ion-chip color="secondary" *ngIf="student.active" class="ion-float-center">
                <ion-label>Activo</ion-label>
            </ion-chip>
            <ion-chip color="secondary" *ngIf="!student.active" class="ion-float-center">
                <ion-label>Inactivo</ion-label>
            </ion-chip>
        </ion-card-content>
    </ion-card>
</ion-content>
